{% extends 'base.html' %}

{% block title %}Home | {{ block.super }}{% endblock title %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-12">

        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <h2>All Books</h2>
        <a class="btn btn-info mt-2 mb-2" href="{% url 'add_book' %}" role="button">Upload</a>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td><img src="{{ book.cover.url }}" style="height:100px" alt="Cover"></td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.author }}</td>
                    <td class="form-inline">
                        <a class="btn btn-primary mr-2" href="{{ book.pdf.url }}" role="button">Download</a>
                        <form action="{% url 'delete_book' book.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" role="button" class="btn btn-danger" value="Delete" onclick="return confirm('Are You sure to delete {{ book.title }}?')">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}